* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(224, 169, 169);
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heading p {
  padding: 0.5rem;
  /* color: rgb(236, 191, 191); */
  font-size: 0.8rem;
  font-style: italic;
}
.container {
/*   width: 920px; */
  margin: 2rem 1rem;
}
.label {
  text-align: left;
  display: inline-block;
  width: 40%;
  vertical-align: middle;
  margin-top: 10px;
  padding: 5px;
}
.form-box {
  display: inline-block;
  text-align: left;
  width: 48%;
  vertical-align: middle;
  margin-top: 10px;
  padding: 5px;
}
input {
  padding: 5px;
  color: black;
  font-weight: bold;
}

#dropdown {
  padding: 4px;
}
.radioselect,
.checkboxselect {
  margin-right: 5px;
}

span {
  font-size: 1.4rem;
  color: red;
}
#submit {
  background-color: green;
  border: none;
  color: white;
  font-size: 1.2rem;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
#submit:hover {
  /* box-shadow: inset 0px 0px 10px rgb(7, 29, 7); */
  background-color: white;
  color: green;
  cursor: pointer;
  border: 2px solid green;
}

@media screen and(max-width: 850px) {
/*   .container {
    width: 100%;
    margin: 2rem 2rem;
  } */
  .label {
    width: 100px;
    text-align: left;
  }
  .form-box {
    width: 80%;
    float: left;
  }
  select {
    width: 100%;
  }
}

@media screen and(max-width: 520px) {
/*   .container {
    width: 100%;
    margin: 2rem 2rem;
  }*/
  .label {
    width: 100px;
    text-align: left;
  } 
  .form-box {
    width: 80%;
    float: left;
  }
  select {
    width: 100%;
  }
}
